<%- include("partials/header") %>

        </header>
        <main>
            <div id="container-404">
                <h3>Tu sembles perdu...</h3>
                <img src="/images/sad-ghibli.jfif" alt="sad ghibli">
                <a href="/">Retour à l'accueil</a>
            </div>
        </main>
    </body>
</html>